@{
    ViewBag.Title = "Login page";
}

<div class="row login">
    <div class="col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <h1>login </h1>
        <div class="form-group login-form">
            <input type="text" class="login-input" placeholder="username" style="font-family:Raleway, sans-serif;">
            <input type="text" class="login-input" placeholder="password" style="font-family:Raleway, sans-serif;">
            <br><a href="#" class="forgot-password" style="font-family:Raleway, sans-serif;">forgot password?</a>
            <button class="btn btn-default login-button" type="button">Login</button>
        </div>
    </div>
</div>