@{
    ViewBag.Title = "Courses";
}

<h1>Courses </h1>
<div class="table-responsive" style="font-family:Raleway, sans-serif;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name </th>
                <th>Code </th>
                <th>HP </th>
                <th>Term </th>
                <th>Period </th>
                <th>Alocated(hrs) </th>
                <th> Remaining(Hrs)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <a href="#" data-toggle="modal" data-target="#course-modal">Information Systems/Agile Methods</a></td>
                <td> <a href="#">2IS100 </a></td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 5</td>
                <td>Cell 6</td>
                <td>Cell 7<span class="label label-warning pull-right">warning </span></td>
            </tr>
            <tr>
                <td> <a href="#">Organisational Behaviour</a></td>
                <td> <a href="#">2FE223 </a></td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 5</td>
                <td>Cell 6</td>
                <td>Cell 7<span class="label label-danger pull-right">issue </span></td>
            </tr>
            <tr>
                <td> <a href="#">HCI/Usability Evaluation Methods</a></td>
                <td> <a href="#">2IV134 </a></td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 5</td>
                <td>Cell 6</td>
                <td>Cell 7<span class="label label-success pull-right">good </span></td>
            </tr>
            <tr>
                <td> <a href="#">Software Engineering</a></td>
                <td> <a href="#">2yt176 </a></td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 5</td>
                <td>Cell 6</td>
                <td>Cell 7<span class="label label-warning pull-right">warning </span></td>
            </tr>
        </tbody>
    </table>
</div>

@Html.Partial("_CourseModal");