<div role="dialog" tabindex="-1" class="modal fade" id="course-modal">
    <div class="modal-dialog modal-parent" role="document">
        <div class="container modalcourse">
            <div class="modal-content">
                <div class="container">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Course details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group detail">
                                    <h5 class="detail-label">name : </h5>
                                    <div class="dropdown detail-label">
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Software Engineering </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li role="presentation"><a href="#">First Item</a></li>
                                            <li role="presentation"><a href="#">Second Item</a></li>
                                            <li role="presentation"><a href="#">Third Item</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group detail">
                                    <h5 class="detail-label">code :</h5>
                                    <p class="detail-label"><strong> </strong>2AD339 </p>
                                </div>
                                <div class="form-group detail">
                                    <h5 class="detail-label">hp :</h5>
                                    <p class="detail-label">7.5 </p>
                                </div>
                                <div class="form-group detail">
                                    <h5 class="detail-label">no. of students:</h5>
                                    <p class="detail-label">26 </p>
                                </div>
                                <div class="form-group detail">
                                    <h5 class="detail-label">term :</h5>
                                    <p class="detail-label">autumn </p>
                                </div>
                                <div class="form-group detail">
                                    <h5 class="detail-label">info :</h5>
                                    <p class="detail-label">This is a new course </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group detail">
                                    <h5 class="detail-label">Course Responsible :</h5><a href="#">Gorkem Pacaci</a>
                                </div>
                                <div class="form-group detail">
                                    <h5 class="detail-label">period :</h5>
                                    <p class="detail-label">2-4 </p>
                                </div>
                                <div class="form-group detail">
                                    <h5 class="detail-label">HST :</h5>
                                    <p class="detail-label">## </p>
                                </div>
                                <div class="detail-item">
                                    <p>total hours</p>
                                    <p class="numbers blue-border">4000 </p>
                                </div>
                                <div class="detail-item">
                                    <p>allocated </p>
                                    <p class="numbers green-border">2700 </p>
                                </div>
                                <div class="detail-item">
                                    <p>balance </p>
                                    <p class="numbers orange-border">1300 </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Staff assigned</h4>
                                <div class="table-responsive" style="font-family:Raleway, sans-serif;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Code </th>
                                                <th>Name </th>
                                                <th>Title </th>
                                                <th>Total Hours</th>
                                                <th>HT work</th>
                                                <th>VT work</th>
                                                <th> Remaining(Hrs)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> <a href="#" data-toggle="modal" data-target="#teacher-modal">anled24567 </a></td>
                                                <td> <a href="#" data-toggle="modal" data-target="#teacher-modal">Aneli Edman</a></td>
                                                <td>Senior Lecturer</td>
                                                <td>Cell 4</td>
                                                <td>Cell 5</td>
                                                <td>Cell 6</td>
                                                <td>Cell 7<span class="label label-success pull-right">good </span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">afshk14526 </a></td>
                                                <td> <a href="#">Regina Fish</a></td>
                                                <td>Junior Lecturer</td>
                                                <td>Cell 4</td>
                                                <td>Cell 5</td>
                                                <td>Cell 6</td>
                                                <td>Cell 7<span class="label label-warning pull-right">warning </span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-default pull-right" type="button"> add staff<i class="icon-plus" style="margin:px;margin-left:3px;"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
