<button id="requestLink" class=" clear-button overlay-button" type="button" data-toggle="collapse" data-target="#requests" aria-expanded="false" aria-controls="requests">requests</button>

<div class="collapse overlay-box flat-border" id="requests">
   <h6>You have no pending requests</h6>
</div>

