@using StaffingPlanner.ViewModels
@using StaffingPlanner.Models
@model List<Message>

@{
    ViewBag.Title = "messages";
}

<div class="container">
    <h3>Messages</h3>
    <ul class="list-group">
        @if (Model != null)
        {
            foreach (var message in Model)
            {
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-left"><a><span class="fa-stack"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-dollar fa-stack-1x fa-inverse"></i></span></a></div>
                        <div class="media-body">
                            <div class="media" style="overflow:visible;">
                                <div class="media-left">
                                    <a></a>
                                </div>
                                <div class="media-body" style="overflow:visible;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                @message.Body
                                                <br>
                                                <small class="text-muted">@message.Datetime.Date.ToString("G") </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
        else
        {
            <li class="text-center">Your inbox is empty :)</li>
        }
    </ul>
</div>
