@using StaffingPlanner.ViewModels
@model List<TeacherCourseViewModel>

<div class="col-md-12">
    <div class="table-responsive" style="font-family: Raleway, sans-serif;">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Responsible</th>
                <th>Term</th>
                <th>Period</th>
                <th data-toggle="tooltip" title="Total number of hours budgeted for the course">
                    Budget
                </th>
                <th data-toggle="tooltip" title="Total number of hours allocated to this course">
                    Allocated (Total)
                </th>
                <th data-toggle="tooltip" title="Hours allocated to this course for @ViewBag.Name">
                    Allocated (@ViewBag.Firstname)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var course in Model)
            {
                @Html.Partial("_EditableTeacherCourseListRow", course)
            }
            </tbody>
        </table>
    </div>
</div>
