@using StaffingPlanner.ViewModels
@model List<TeacherCourseViewModel>

<div class="col-md-12">
    <div class="table-responsive" style="font-family: Raleway, sans-serif;">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Responsible</th>
                <th>Term</th>
                <th>Period</th>
                <th>Total budget</th>
                <th>Total allocated hours</th>
                <th>@ViewBag.Name hours</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var course in Model)
            {
                @Html.Partial("_EditableTeacherCourseListRow", course)
            }
            </tbody>
        </table>
    </div>
</div>
